* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background-color 1s;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 2rem 0;
  text-align: center;
}
